
.section .about__container{
    margin-bottom: 53px;
    }
    
    .about__container {
        display: flex;
    }
    
    .about__container:before, .about__content {
        border-radius: 4px;
    }
    
    .about__container:before {
        content: "";
        width: 488px;
        height: 502px;
        background: url("../../img/header/background.png"); center center / cover no-repeat;
        display: inline-block;
    }
    
    .about__content {
        background-image: linear-gradient(to left, #0081FC, #8F00FF);
        padding: 74px 182px 35px 89px;
        max-width: 780px;
        margin-left: -142px;
        margin-top: 120px;
        min-height: 454px;
    }
    
    .title {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 47px;
    }
    
    .title-light {
        margin-bottom: 36px;
    }
    
    .about__text {
        margin-bottom: 42px;
        line-height: 27px;
    }
    
    .about__text p {
        margin-bottom: 20px;
    }
    
    .about__text p:last-child {
    margin-bottom: 0;
    }