.button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.button {
    background: #8F00FF;
    border-radius: 4px;
    padding: 17px 39px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background .5s;

}

.button:hover {
    background: #741BBA;
}

.button--light {
    background: #fff;
    border-radius: 4px;
    padding: 17px 29px;
    color: #8F00FF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: solid 1px #8F00FF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: background .5s, color .5s, filter .5s;


}

.button--light:hover {
    background: #8F00FF;
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button--dark {
    border-radius: 4px;
    padding: 17px 38px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: solid 1px #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .form__btns {
        display: flex;
        justify-content: flex-end;
    }
    
    .button--color--grey {
        background: #8E8E8E;
        margin-right: 17px;
        transition: background .5s;
        padding: 19px 41px;
    }
    
    .button--color--grey:hover {
        background: #2B2B2B;
    }
    
    .button--color--violet {
        padding: 19px 41px;
    }