
.form__row {
    display: flex;
    margin-bottom: 30px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 4px;
    border: none;
    background: #FFF;
    padding: 21px 30px;
    font-size: 18px;
    color: #1A1B1E;
    border: solid 1px transparent;
}

.form__input:focus {
    border: solid 1px #8F00FF;
    outline: 0;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0;
}


.form__input--textarea {
    height: 235px;
    resize: none;
}

.form__controls {
    display: flex;
    margin-bottom: 19px;
}

.form__controls-title {
    width: 38%;
    font-size: 18px;
    margin-right: 4px;
}
