.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}



.page-content {
    background: #fff;
    color: #303030;
    padding: 92px 0 121px;
}

.page-content--reviews {
    padding: 79px 0 88px;
}
