
.reviews {
    column-count: 2;
    column-gap: 27px;
    margin-bottom: 56px;
}

.reviews__item {
    margin-bottom: 17px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 52px 30px 32px 30px;
    background: #F4F5F5;
    border-radius: 5px;
}


.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}

.review__photo {
    margin-right: 23px;
}

.review__user {
display: flex;
align-items: center;
font-size: 24px;
font-weight: bold;
color: #2E77A4;
margin-bottom: 11px;
}

.review__user:after {
    content: url("../../img/reviews/vk-blue_reviews.png");
    height: 29px;
    margin-left: 7px;
}


.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 8px 16px;
    border-radius: 35px;
    background: #E7E7E7;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 13px;
}

.review__content-text {
    line-height: 169%;
    color: #818181;
    margin-bottom: 49px;
}

.review__date {
    font-size: 14px;
    color: #1A1B1E;
}