
.separator {
    background: #17191C url("../../img/reviews/little_man.png") right 24% bottom no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
}

.separator__content {
    min-width: 50%;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    max-width: 42%;
}